<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            <a href = "mailto: hello@mahadqureshi.com">hello@mahadqureshi.com</a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="copyright">&copy;	Mahad Qureshi {{ site.time | date: '%Y' }}</p>
      </div>
    </div>

  </div>

</footer>

<script src="node_modules/medium-zoom/dist/medium-zoom.min.js"></script>
