<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">Mahad Qureshi</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 17H21" stroke="black" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
        <path d="M3 7H21" stroke="black" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
        </svg>

      </a>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
        <!--<a class="page-link" href="mailto:hello@mahadqureshi.com">Contact</a>-->
      </div>
    </nav>

  </div>

</header>
