<section class="work slide fadeInBottom delayed-2">
  <div class="row">
    {% for post in site.posts %}
    <a class="col work-thumbnail" href="{{ post.url | prepend: site.baseurl }}">
      <div>
        {% if post.title == "Macros" %}
        <video loop autoplay playsinline muted width="100%">
          <source src="/img/macros-thumb-video-small 3.mp4" type="video/mp4">
        </video>
        {% elsif post.title == "Showcase" %}
        <video loop autoplay playsinline muted width="100%">
          <source src="/img/slide-angled-showcase.mp4" type="video/mp4">
        </video>
        {% elsif post.title == "Podium" %}
        <video loop autoplay playsinline muted width="100%">
          <source src="/img/podium-figma-assets-2.mp4" type="video/mp4">
        </video>
        {% else %}
        <img src="/img/{{ post.img }}" alt="">
        {% endif %}
      </div>
    </a>
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h3 class="project-title" style="color: {{ post.text-color }}">{{ post.title }}</h3>
    </a>
  {% endfor %}
  </div>
</section>
