/**
 * Site header
 */
.site-header {
    padding: 120px 0 10px 0;
    min-height: 56px;
    @include media-query($on-palm) {
      padding: 0;
    }

    .site-title {
        font-size:  16px;
        line-height: 56px;
        margin-top: 30px;
        margin-bottom: 0;
        float: left;
        color: $text-color;
        &:visited {
          color: inherit;
        }
    }
    // Positioning context for the mobile navigation icon
    position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

li::marker 
{
    font-size: 1.5rem;
    font-weight: 100;
}

a,
a:visited,
a:focus {
  color: black;
}

a:hover {
  color: #444;
}

p {
  line-height: 1.6;
}

.wrapper {
  @include media-query($on-laptop) {
      max-width: -webkit-calc(#{$content-width} - (#{$mobile-spacing-unit}));
      max-width:         calc(#{$content-width} - (#{$mobile-spacing-unit}));
      padding-right: $mobile-spacing-unit / 1;
      padding-left: $mobile-spacing-unit / 1;
  }
  @include media-query($on-palm) {
      max-width: -webkit-calc(#{$content-width} - (#{$mobile-spacing-unit}));
      max-width:         calc(#{$content-width} - (#{$mobile-spacing-unit}));
      padding-right: $mobile-spacing-unit / 2;
      padding-left: $mobile-spacing-unit / 2;
  }
}

p.project-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 16px;
}

h1.tagline {
  line-height: 1.3;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 60px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include media-query($on-laptop) {
    font-size: 38px;
    letter-spacing: -1px;
  }
  @include media-query($on-palm) {
    font-size: 35px;
    letter-spacing: -1px;
  }
}

.welcome {
  margin: 80px 0 140px 0;
  @include media-query($on-palm) {
    margin: 20px 0 70px 0;
  }
}

.work {
  font-family: 'Newsreader', serif;
  margin-bottom: 100px;
  font-size: 18px;
  @include media-query($on-palm) {
    margin-bottom: 20px;
  }
}

.work a {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.work a:hover {
  border-bottom-style: solid;
  text-decoration: none;
}

.work ul {
  margin-left: 16px;
}

.work li {
  line-height: 1.8em;
}

.site-nav {
    float: right;
    line-height: 56px;
    z-index: 1;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
        line-height: $base-line-height;
        @include media-query($on-palm) {
          font-size: 22px;
        }
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 0;
            padding-top: 7px;
            text-align: center;

            > svg {
                width: 24px;
                height: 24px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            padding-top: 40px;
            height: 150px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05);
            border-radius: 6px;
        }

        .page-link {
            display: block;
            font-weight: 700;
            padding: 8px 20px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.slide {
   -webkit-animation-duration: 500ms;
   animation-duration: 500ms;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   &.delayed {
     -webkit-animation-delay: .1s; /* Chrome, Safari, Opera */
     animation-delay: .1s;
   }
   &.delayed-2 {
     -webkit-animation-delay: .2s; /* Chrome, Safari, Opera */
     animation-delay: .2s;
   }
   &.delayed-3 {
     -webkit-animation-delay: .3s; /* Chrome, Safari, Opera */
     animation-delay: .3s;
   }
}

@-webkit-keyframes fadeInBottom {
   0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
   }
   100% {
      opacity: 1;
      -webkit-transform: translateY(0);
   }
}

@keyframes fadeInBottom {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.fadeInBottom {
   -webkit-animation-name: fadeInBottom;
   animation-name: fadeInBottom;
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}


.social-media-list a {
  margin: 0 24px 1em 0;
}


.footer-col-wrapper {
    font-size: 16px;
    color: $grey-color-light;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col li {
    display: inline;
    padding: 0 6px;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
    float: right;
    text-align: right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.divider {
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.08);
}

//About Page
h1.about {
  color: $grey-color-dark;
  margin-top: 40px;
  @include media-query($on-palm) {
    display: inline-block;
    padding-top: 20px;
  }
}

h3.about-text {
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 80px;
  color: $text-color;
}


.about-title {
  margin-top: 70px;
  margin-bottom: 20px;
  font-weight: 600;
}

.about-email {
  border-bottom: 3px solid #0049E5;
  padding-bottom: 2px;
  &:hover {
    text-decoration: none;
    opacity: .5;
  }
}

.profile {
  width: 100%;
  height: auto;
  @include media-query($on-palm) {
    display: none;
  }
}

//Page Navigation
.PageNavigation {
    font-size: 18px;
    display: block;
    width: auto;
    overflow: hidden;
}

.PageNavigation a {
    display: block;
    float: left;
    width: 160px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 1em 0;
    border: 1px solid $grey-color-ultralight;
    border-radius: 5px;
    padding: 10px 14px;
    font-weight: 500;
    color: $grey-color-dark;
    text-decoration: none;
    &:hover {
      background: $grey-color-ultralight;
    }
    @include media-query($on-laptop) {
        width: 100%;
        margin: .5em 0;
    }
}

.PageNavigation .next {
    float: right;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: 13px;
    color: black;
    text-transform: uppercase;
    letter-spacing: .5px;
    line-height: 1.5;
}

.post-intro {
  line-height: 1.5;
  font-size: 18px;
}

.post-link {
  line-height: 1.5;
  font-size: 18px;
  align-items: center;
  display: inline-flex;
}

/**
 * Posts
 */
.caption  {
  font-size: 14px;
  margin-bottom: 80px;
  color: $grey-color;
  text-align: left;
}

.caption-centered  {
  font-size: 14px;
  margin: 8px 0;
  color: $grey-color;
  text-align: center;
}

.post-header {
    margin-bottom: $spacing-unit*4;
    margin-top: $spacing-unit*3;
}

.post-title {
    font-size: 48px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -1px;
    font-family: newsreader;

    @include media-query($on-palm) {
        font-size: 36px;
        letter-spacing: normal;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    text-align: left;

    h2 {
        font-size: 26px;
        margin: 24px 0 16px 0;
        line-height: 1.6;

        @include media-query($on-palm) {
            font-size: 22px;
        }
    }

    h2.section-left {
      font-size: 28px;
      margin: 0;
      line-height: 1;

      @include media-query($on-laptop) {
          margin-bottom: 40px;
      }
    }

    h3 {
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .btn {
      padding: 10px 16px;
      border-radius: 5px;
      background-color: $text-color;
      font-weight: bold;
      color: white;
      &:hover {
        opacity: .9;
      }
    }
}

img.wide_img {
  display: block;
  margin: 16px 0;
  padding: 0 16px;
  max-width: 100vw;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.col-with-margin {
  margin-bottom: 14px;
  padding: 2px;
  @include media-query($on-palm) {
      padding: 0;
  }
}

.logo {
  margin-bottom: 30px;
}

.send-card {
  margin: 0 auto;
  max-width: 392px;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 80px auto;
  width: 300px;
  @include media-query($on-palm) {
      width: calc(100vw - 40px);
      margin: 60px auto;
  }
}

.mobile-break {
  display: none;
  @include media-query($on-palm) {
    display: block;
  }
}

// Post Backgrounds

.yellowPage {
  background: #F8F7F5;
}

.bluePage {
  background: #E2ECFD;
}

.pinkPage {
  background: #fff4f7;
}

.purplePage {
  background: #fef6ff;
}