/**
 * Site header
 */
.site-header {
    padding: 54px 0 10px 0;
    min-height: 56px;
    @include media-query($on-palm) {
      padding: 0;
    }
    // Positioning context for the mobile navigation icon
    position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

a,
a:visited,
a:hover,
a:focus {
  color: #528CFA;
}

h1.tagline {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  letter-spacing: -1px;
  margin-bottom: 60px;
  @include media-query($on-palm) {
    font-size: 38px;
    letter-spacing: -1px;
  }
}

.welcome {
  margin: 80px 0 140px 0;
}

.site-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 56px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color;
        font-size: 16px;
        line-height: $base-line-height;
        @include media-query($on-palm) {
          font-size: 22px;
        }
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-ultralight;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            font-weight: 700;
            padding: 8px 20px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.site-footer a {
  color: $grey-color-light;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color-light;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col li {
    display: inline;
    padding: 0 6px;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
    float: right;
    text-align: right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

//About Page
h1.about {
  line-height: 1.5;
  color: $grey-color-dark;
  @include media-query($on-laptop) {
    font-size: 24px;
  }
  @include media-query($on-palm) {
    display: inline-block;
    padding-top: 20px;
  }
}

.about-email {
  border-bottom: 3px solid #3F80FF;
  color: $grey-color-dark;
  &:hover {
    text-decoration: none;
    color: #3F80FF;
  }
}

.profile {
  float: right;
  height: 500px;
  margin-left: 70px;
  @include media-query($on-palm) {
      width: 100%;
      height: auto;
  }
}

//Page Navigation
.PageNavigation {
    font-size: 18px;
    display: block;
    width: auto;
    overflow: hidden;
}

.PageNavigation a {
    display: block;
    float: left;
    width: 140px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 1em 0;
    border: 2px solid $grey-color-ultralight;
    border-radius: 5px;
    padding: 10px 14px;
    font-weight: bold;
    color: $grey-color-dark;
    text-decoration: none;
    &:hover {
      background: $grey-color-ultralight;
    }
}

.PageNavigation .next {
    float: right;
}


.prev:before {
    font-family: FontAwesome;
    content: "\f053";
    font-size: 12px;
    right: 8px;
    top: -1px;
    position: relative;
    color: $grey-color-light;
}

.next:after {
    font-family: FontAwesome;
    content: "\f054";
    font-size: 12px;
    left: 8px;
    top: -1px;
    display: inline-block;
    position: relative;
    color: $grey-color-light;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.work-info {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  padding: 34px;
  &:hover {
    opacity: .85;
    transition: .2s ease-out;
  }
  @include media-query($on-palm) {
      font-size: 36px;
      opacity: 1;
      background: none !important;
      position: relative;
      bottom: 4px;
      padding: 20px 0 0 0;
  }
}

.work-thumbnail {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    overflow: hidden;
    &:hover img {
      -moz-transform: scale(1.03);
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
    }
    & img {
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    @include media-query($on-palm) {
      margin-bottom: 10px;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color-light;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.project-title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    @include media-query($on-palm) {
      color: $grey-color-dark !important;
    }
}

/**
 * Posts
 */
.caption  {
  font-size: 16px;
  margin-bottom: 80px;
  color: $grey-color;
  text-align: left;
}

.post-header {
    margin-bottom: $spacing-unit;
    text-align: center;
}

.post-title {
    font-size: 62px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -1px;
    color: $grey-color-dark;

    @include media-query($on-laptop) {
        font-size: 36px;
        letter-spacing: normal;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    text-align: left;

    h2 {
        font-size: 26px;
        margin: 50px 0 30px 0;
        line-height: 1.3;
        font-weight: 300;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
