---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header slide fadeInBottom">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <h5 class="post-meta">{{ page.role }} {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h5>
  </header>

  <div class="post-content slide fadeInBottom delayed" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}"></i>{{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}}</i></a>
  {% endif %}
  </div>


</article>
