---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header"><div class="row">
    <div class="col-sm-5">
      <h1 class="post-title slide fadeInBottom" itemprop="name headline">{{ page.title }}</h1>
      <h5 class="post-meta slide fadeInBottom delayed">{{ page.role }} {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h5>
    </div>
    <div class="col-sm-7 slide fadeInBottom delayed-2">
      <h3 class="post-intro">{{ page.intro }}</h3>
      {% if page.link %}
      <a href="{{ page.link }}" class="post-link">Visit site<i data-feather="chevron-right" height="20"></i></a>
      <script>
        feather.replace()
      </script>
      {% endif %}
    </div>
  </header>

  <div class="post-content slide fadeInBottom delayed-3" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}"></i>{{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}}<i data-feather="chevron-right" height="20"></i></a>
  {% endif %}
  </div>


</article>
